<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
</head>
<body>
<nav class="nav" th:fragment="pagination">
    <ul class="pagination justify-content-center" th:with="baseUrl=${URLparameter}">
        <li class="page-item" th:if="${pager.hasPrevious()}">
            <a class="page-link"
               th:href="@{${baseUrl}(page=${pager.getPageIndex() - 1})}"> previous</a>
        </li>
        <li class="page-item" th:classappend="${i eq pager.getPageIndex() } ? 'active'"
            th:each="i : ${#numbers.sequence( 1, pager.getTotalPages(), 1)}">
            <a class="page-link" th:href="@{${baseUrl}(page=${i})}"
               th:text="${i}" th:title="${'Page '+ i}" ></a>
        </li>
        <li class="page-item" th:if="${pager.hasNext()}">
            <a class="page-link"
               th:href="@{${baseUrl}(page=${pager.getPageIndex() + 1})}">next</a>
        </li>
    </ul>
</nav>
</body>
</html>