<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
</head>

<body>

<div class="container features" th:fragment="products">
    <div sec:authorize="isAuthenticated()">
        <div th:if="${#authentication.getPrincipal().getUserRole()=='admin'}" class="d-flex justify-content-end"
             th:object="${products}">
            <a href="#" th:href="@{/add}" class="btn btn-primary ">
                <i class="fas ml-2">Add Product</i>
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12" th:each="product : ${products}">
            <a th:href="@{/products/{id}(id=${product.productId})}">
                <img class="img-fluid"
                     th:src="${product.productImageUrl !=null} ? @{/downloadFile/{fileName}(fileName=${product.productImageUrl})} : ${'../../images/noimage.jpg'}">
                <h3 class="feature-title" th:text="${product.productName}"></h3>
                <p>Rs. [[${product.productPrice}]] </p>
                <div sec:authorize="isAuthenticated()">
                    <div th:if="${#authentication.getPrincipal().getUserRole()=='admin'}">
                        <a th:href="@{/edit/{id}(id=${product.productId})}" class="btn btn-primary"><i
                                class="fas fa-user-edit ml-2">Edit</i></a>
                        <a th:href="@{/delete/{id}(id=${product.productId})}" class="btn btn-primary"><i
                                class="fas fa-user-times ml-2">Delete</i></a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>