h1 {
    color: #080808;
}

h2 {
    color: #080808;
}

.validation-message {
    font-style: normal;
    font-size: 10px;
    color: #FF1C19;
}

body {
  padding: 0;
  margin: 0;
  background: #f0f0f0;
}
/*--- navigation bar ---*/
.navbar {
  background:#0c132e;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
      font-size: inherit;
}
.nav-link {
  margin-right: 1em !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: capitalize;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}
.img-fluid {
    max-width: 50%;
    height: auto;
    margin-top: 15px;
}
.product-detail{
    margin-top: 5px;
    /* margin-bottom: 1rem; */
    margin-bottom: 5px;
}
.img-logo{
width:20% !important;
}
/*product detail*/
.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;

}
/*------*/
/*footer*/
#footer {
background-color: #0c132e;
color: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;

}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  font-size: 30px;
}

/*Pagination*/
.pagination {
    display: -webkit-box;
    text-align: center;

}
.nav{
    margin-left:40%;
    margin-right:40%;
    position: relative;
    top: -50px;
    left: 0;
}

.blocktext {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


