<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>
<div th:replace="/fragments/header :: navbar"/>

<div class="card">
    <div class="row">
        <aside class="col-sm-5 border-right">
            <article class="gallery-wrap">
                <div class="img-big-wrap">
                    <div><a href="#">
                        <img th:src="${product.productImageUrl !=null} ? @{/downloadFile/{fileName}(fileName=${product.productImageUrl})} : ${'../../images/noimage.jpg'}"></a></div>
                     </div>
            </article>
        </aside>
        <aside class="col-sm-7">
            <article class="card-body p-5">
                <h3 class="title mb-3" th:text="${product.productName}"></h3>
                <p class="price-detail-wrap product-detail">
            	<span class="price h3 text-warning">
		            <span class="currency"> Rs.</span><span class="num">[[${product.productPrice}]]</span>
	            </span>
                </p>
                <dl class="item-property">
                    <dt>Description</dt>
                    <dd><p class="product-detail">[[${product.productDescription}]] </p></dd>
                </dl>
            </article>
        </aside>
    </div>
</div>
<div th:replace="/fragments/footer :: footer"/>
</body>

</html>
