<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <div th:replace="/fragments/header :: header"/>
    <link href="../../css/registration.css" th:href="@{../../css/login.css}" rel="stylesheet">
</head>
<body>
<div th:replace="/fragments/header :: navbar"/>

<div class="container">


    <div class="row">

        <div class="col-lg-5 col-xl-5 mx-auto">
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You've successfully registered to our awesome app!
                </div>
            </div>
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">

                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">

                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin" action="#" th:action="@{/registration}" th:object="${userForm}" method="post" >
                        <input type="text" name="userRole" value="customer"  hidden required/>

                        <div class="form-label-group">
                            <input type="text" id="inputUserame" class="form-control" placeholder="Username"  name="userName" required autofocus>
                            <label for="inputUserame">Username</label>
                            <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error></span>
                        </div>

                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="emailId" required>
                            <label for="inputEmail">Email address</label>
                            <span th:if="${#fields.hasErrors('emailId')}" th:errors="*{emailId}">Name Error></span>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                            <label for="inputPassword">Password</label>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error></span>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" name="confirmPassword" required>
                            <label for="inputConfirmPassword">Confirm password</label>
                            <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Name Error></span>

                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
<!--                        <a class="d-block text-center mt-2 small" th:href="@{/login}">Sign In</a>-->
                        <hr class="my-4">



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="/fragments/footer :: footer"/>
</body>
</html>